# Отчет по лабораторной работе №4 "Pandas"
## Выполнила студентка группы T12О-101М-20
## "Управление продуктовой разработкой it сервисов"

### Давыдова Елизавета
#### 21.11.2020

Импортировать модули sys numpy pandas

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import sys

Создать объект pandas Series из листа, объекта NumPy, и словаря

In [8]:
my_list = [4, 5, 6, 7]
my_dic = {'one': 1, 'two': 2, 'three': 3}
numpy_obj = np.arange(9)
my_list_p = Series(my_list)
my_dic_p = Series(my_dic)
numpy_obj_p = Series(numpy_obj)

Преобразовать объект Series в DataFrame

In [19]:
obj_df = DataFrame(my_dic_p, columns=['numbers'])
print(obj_df)

       numbers
one          1
two          2
three        3

создать объект Series

In [21]:
obj = Series({'russia': 'moscow', 'france': 'paris', 'italy': 'rome'})

преобразовать в DataFrame

In [25]:
obj1 = DataFrame(obj, columns=['city'])
print(obj1)

          city
russia  moscow
france   paris
italy     rome

объединить несколько объектов Series в Dataframe

In [29]:
obj1 = Series([1,2,3])
obj2 = Series([4,5,6])
obj_df = DataFrame(dict(obj1 = obj1, obj2 = obj2))
print(obj_df)

   obj1  obj2
0     1     4
1     2     5
2     3     6

Присвоить имя индексу объекта Series

In [39]:
obj1.name = 'new_name'
print(obj1)

0    1
1    2
2    3
Name: new_name, dtype: int64

Получить элементы объекта Series A, которых нет в объекте Series B

возвратить вместе с индексами

In [4]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([4, 5, 6, 7, 8])
 
# возвращает вместе с индексами
ab = s1[~a.isin(b)]
print(ab)

0    1
1    2
2    3
dtype: int64

возвратить значения

In [5]:
# возвразает значения
ab1 = np.setdiff1d(a, b, assume_unique=False)
print(ab1)

[1 2 3]

Получить не пересекающиеся элементы в двух объектах Series

возвратить вместе с индексами

получить объединенный Series без повтороений

In [7]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([4, 5, 6, 7, 8])
ab_union = pd.Series(np.union1d(a, b))
print(ab_union)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

получить пересекающиеся данные

In [8]:
ab_intersect = pd.Series(np.intersect1d(a, b))
print(ab_intersect)

0    4
1    5
dtype: int64

отобрать все данные, кроме пересекающихся

In [9]:
ab = ab_union[~ab_union.isin(ab_intersect)]
print(ab)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

возвратить значения

In [10]:
ab1 = np.setxor1d(a, b, assume_unique=False)
print(ab1)

[1 2 3 6 7 8]