# Отчет по лабораторной работе №5 "Pandas"
## Выполнила студентка группы T12О-101М-20
## "Управление продуктовой разработкой it сервисов"

### Давыдова Елизавета
#### 28.11.2020

Получить от объекта Series показатели описательной статистики

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
numpy_obj = np.arange(9)
numpy_obj_p = Series(numpy_obj)
s = numpy_obj_p.describe()
print(s)

count    9.000000
mean     4.000000
std      2.738613
min      0.000000
25%      2.000000
50%      4.000000
75%      6.000000
max      8.000000
dtype: float64

Узнать частоту уникальных элементов объекта Series (гистограмма)

In [12]:
my_list = [4, 5, 6, 7, 4, 4, 7]
s = Series(my_list)
c = s.value_counts()
print(c)

4    3
7    2
6    1
5    1
dtype: int64

Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [14]:
s[~s.isin(c.index[:2])] = 'Other'
print(s)
print(c.index[:2])

0        4
1    Other
2    Other
3        7
4        4
5        4
6        7
dtype: object
Int64Index([4, 7], dtype='int64')

Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [ ]:
dti = pd.date_range(start='2019-01-01', end='2019-12-31', freq='B') 
s = Series(np.random.rand(len(dti)), index=dti)

Найти сумму всех вторников

In [22]:
wsum = s[s.index.weekday == 1].sum()
print( wsum)

20.993884283331685

Для каждого месяца найти среднее значение

In [23]:
avg_m = s.resample('M').mean()
print(avg_m)

2018-01-31    0.429670
2018-02-28    0.576431
2018-03-31    0.473886
2018-04-30    0.504969
2018-05-31    0.515485
2018-06-30    0.483617
2018-07-31    0.453608
2018-08-31    0.442480
2018-09-30    0.473215
2018-10-31    0.377009
2018-11-30    0.506237
2018-12-31    0.443360
Freq: M, dtype: float64

Преобразовать объект Series в DataFrame заданной формы (shape)

In [ ]:
s = Series(np.random.randint(low=1, high=10, size=[35]))
r = (7, 5)
df = pd.DataFrame(s.values.reshape(r))

Найти индексы объекта Series кратные 3

In [ ]:
s = pd.Series(np.random.randint(low=1, high=10, size=[7]))
ans1 = np.argwhere(s % 3==0).flatten()
print(ans1)

Получить данные по индексам объекта Series

In [ ]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
p = [0, 4, 8, 14, 20, 10]
ans = s.take(p)
print(ans)

Объединить два объекта Series вертикально и горизонтально

In [ ]:
s1 = pd.Series(range(5))
s2 = pd.Series(list('abcde'))
 
ans_vertical = s1.append(s2)
ans_horizontal = pd.concat([s1, s2], axis=1)
 
print(ans_vertical)
print(ans_horizontal)

Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [ ]:
s1 = pd.Series([5, 3, 2, 1, 4, 11, 13, 8, 7])
s2 = pd.Series([1, 5, 13, 2])
ans = np.argwhere(s1.isin(s2)).flatten()
print(ans)

Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [ ]:
s = pd.Series(np.random.randint(low=1, high=10, size=[10]))
ans = pd.Series(s.unique())
print(ans)

Преобразовать каждый символ объекта Series в верхний регистр
преобразовать данных Series в строку

In [ ]:
s = pd.Series(['life', 'is', 'interesting'])
 
s = pd.Series(str(i) for i in s)
 
tit = pd.Series(i.title() for i in s)
print(tit)

Рассчитать количество символов в объекте Series

преобразовать в строковый тип

In [3]:
s = pd.Series(['one', 'two', 'three', 'four', 'five'])
s = pd.Series(str(i) for i in s)
col = np.asarray([len(i) for i in s])
print(col)

[3 3 5 4 4]

Найти разность между объектом Series и смещением объекта Series на n

In [ ]:
n = 1
 
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
 
ans = s.diff(periods=n)
 
print(ans)

Преобразовать разные форматы строк объекта Series в дату

In [ ]:
s = pd.Series(['2017/01/01', '2015-02-02', '15 Jan 2019'])

ans = pd.to_datetime(s)
 
print(ans)

Поскольку работа с датой часто встречается в работе, то см. еще один пример
все данные должны иметь одинаковый формат (часто бывает выгрузка из SQL)
преобразовать в дату

In [ ]:
s = pd.Series(['14.02.2020', '22.01.2020', '01.03.2020'])
 
ans = pd.to_datetime(s, format='%d.%m.%Y')
 
print(ans)

Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)
распарсить в дату и время

In [ ]:
from dateutil.parser import parse
 
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])
s_ts = s.map(lambda x: parse(x, yearfirst=True))

получить года

In [ ]:
print(s_ts.dt.year)

получить месяца

In [ ]:
print(s_ts.dt.month)

получить дни

In [ ]:
print(s_ts.dt.day)

получить номер недели

In [ ]:
print(s_ts.dt.weekofyear)

получить номер дня в году

In [ ]:
print(s_ts.dt.dayofyear)

Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [ ]:
from collections import Counter
 
s = pd.Series(['Яблоко', 'Orange', 'Plan', 'Python', 'Апельсин', 'Стол', 'Reliance'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)
ans = s[mask]
print(ans)

Отобрать e-маилы из объекта Series (можно юзать регулярки)

In [ ]:
import re
 
emails = pd.Series(['test text @test.com', 'test@mail.ru', 'test.2ru', 'test@pp'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
ans = emails[mask]
print(ans)

Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [ ]:
n = 10
s1 = pd.Series(np.random.choice(['dog', 'cat', 'horse', 'bird'], n))
s2 = pd.Series(np.linspace(1,n,n))
ans = s2.groupby(s1).mean()
print(ans)