# Отчет по лабораторной работе №7 "Pandas"
## Выполнила студентка группы T12О-101М-20
## "Управление продуктовой разработкой it сервисов"

### Давыдова Елизавета
#### 05.12.2020

In [2]:
import sys
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

Прочитать файл CSV и перевести его в DataFrame
'https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv'

In [3]:
a = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv')
print(a)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

 Прочитать файл CSV (определенные столбцы и определенное кол-во строк) и перевести его в DataFrame
 'Name', 'Sex', 'Survived

In [3]:
a = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', nrows=10, usecols=['Name', 'Sex', 'Survived'])

 Прочитать файл CSV и перевести каждую 100-ую строку в DataFrame

In [4]:
a = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', chunksize=100)
b = pd.DataFrame()
for elem in a:
    b = b.append(elem.iloc[0,:])

 Преобразовать индексы объекта Series в столбец DataFrame

In [10]:
l = 'abcedf'
s = pd.Series(list(l))
df = s.to_frame().reset_index()
df.columns=['number', 'letter']
df

   number letter
0       0      a
1       1      b
2       2      c
3       3      e
4       4      d
5       5      f

Посмотреть информацию объекта DataFrame
Вывести формат каждого столбца

In [12]:
a = pd.read_csv('https://raw.githubusercontent.com/Grossmend/CSV/master/titanic/data.csv', nrows=10)
print(a.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

 Вывести размерность DataFrame

In [13]:
print(a.shape)

(10, 12)

 Вывести общую статистикy

In [14]:
print(a.describe())

       PassengerId   Survived     Pclass        Age      SibSp      Parch  \
count     10.00000  10.000000  10.000000   9.000000  10.000000  10.000000
mean       5.50000   0.500000   2.300000  28.111111   0.700000   0.300000
std        3.02765   0.527046   0.948683  14.945271   0.948683   0.674949
min        1.00000   0.000000   1.000000   2.000000   0.000000   0.000000
25%        3.25000   0.000000   1.250000  22.000000   0.000000   0.000000
50%        5.50000   0.500000   3.000000  27.000000   0.500000   0.000000
75%        7.75000   1.000000   3.000000  35.000000   1.000000   0.000000
max       10.00000   1.000000   3.000000  54.000000   3.000000   2.000000

            Fare
count  10.000000
mean   27.020820
std    23.601938
min     7.250000
25%     8.152075
50%    16.104150
75%    46.414575
max    71.283300